@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.App {
  padding: 10px;
  background-color: #efe2ba;
}

.App .Title {
  font-weight: 700;
  font-size: xx-large;
  text-align: center;
  text-shadow: 2px 2px gray;
}

.App .navbar {
  text-align: center;
}

.App .navlinks {
  margin-right: 20px;
  font-weight: 500;
  font-size: large;
}
